/* GENERAL */
body {
    background: url(./images/todo_bg_app.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color:rgba(210, 105, 30, 0.45);
}

.app {
    padding: 3.5em 2em;
    font-family: 'Josefin Sans', sans-serif;
}

@media (min-width: 768px) {
    body {
        background: url(./images/todo_bg_desktop.png);
        background-size: 100% 50%;
        background-repeat: no-repeat;
        background-color:rgba(210, 105, 30, 0.45);
        height: 100vh;
    }
    
    .app {
        width: 55%;
        margin: 0 auto;
        padding: 5em 0;
    }
}

/* HEADER */
header {
    position: relative;
}

header h1 {
    font-size: xx-large;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px grey;
}

header span {
    position: absolute;
    right: 0;
    top: -.3em;
    padding: .25em .25em 0 0;
    text-shadow: none;
    background-color: #e7b089;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(97, 97, 97);
}

header span:hover {
    border: 2px solid #e7b089;
}

/* FORM */
.addTaskForm {
    margin: 2em 0;
    text-align: center;
}

.addTaskForm input {
    padding: 1em;
    width: 100%;
    border: 1px solid chocolate;
    border-radius: 4px;
}

/* LIST */

.tasksList {
    border: 1px solid chocolate;
    border-radius: 4px 4px 0 0;
    background-color: white;
}
.tasksList li {
    padding: .8em;
    width: 100%;
    border-bottom: 1px solid chocolate;
    font-size: small;
    white-space: nowrap;
    overflow-x: auto;
}

@media (min-width: 768px) {
    .tasksList li  {
        font-size: medium;
    }
}

.tasksList div {
    width: 1.3em;
    height: 1.3em;
    border: 1px solid chocolate;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
}

.task-done {
    text-decoration:line-through;
    color: grey;
}

.circle-done {
    background-color: #e7b089;
}

.tasksList li:last-child {
    border-bottom: none;
    border-radius: 0 0 4px 4px;
}

/* FOOTER */
.footerList {
    display: flex;
    justify-content: space-between;
    column-gap: 2em;
    background-color: white;
    border: 1px solid chocolate;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 1em .5em;
    width: 100%;
    font-size: small;
    color: grey;
    text-align: center;
}

.footerList div:nth-child(even):hover {
    cursor: pointer;
    color: black;
}

.footerList span {
    font-weight: bold;
}

.filter {
    position: absolute;
    margin-top: 3.5em;
    padding: .7em;
    border: 1px solid chocolate;
    border-radius: 4px;
    background-color: white;
    font-size: medium;
    font-weight: bold;
    width: 15em;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    gap: 1em;
}

.filter p:hover {
    cursor: pointer;
    color: black;
}

.footerList .counter {
    order:0;
}

.footerList div:nth-child(even) {
    order:1;
}

@media (min-width: 768px) {
    .footerList {
        align-items: center;
    }

    .filter {
        position: static;
        border: none;
        margin: 0;
        padding: 0;
        width: fit-content;
        transform: none;
        order: 1;

    }

    .footerList div:nth-child(even) {
        order:2;
    }
}