/* FORM */
.AddTaskForm {
    margin: 2em 0;
    text-align: center;
}

.AddTaskForm input {
    padding: 1em;
    width: 100%;
    border: 1px solid chocolate;
    border-radius: 4px;
}

.form-dark input {
    background-color: black;
    color: rgb(133, 64, 16);
}