/* APP */

.App {
    padding: 3.5em 2em;
    font-family: 'Josefin Sans', sans-serif;
}

@media (min-width: 768px) {
    .App {
        width: 55%;
        margin: 0 auto;
        padding: 5em 0;
    }
}


